* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

button {
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    outline: none !important;
    background-color: #fd735a;
    box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    width: 200px;
    border: 1px solid transparent;
    margin: 20px 0;
    cursor: pointer;
}

button:hover {
    background-color: #ffaa9a;
}

textarea {
    vertical-align: top;
    min-height: 100px;
    height: auto;
    resize: none;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 1em;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #eee;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

/*SECTION TITLE*/
.sectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.sectionTitle h2 {
    font-size: 30px;
    z-index: 1;
    font-weight: 700;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}

.sectionTitle ::after {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    bottom: -30px;
    content: "";
}

.sectionTitle span {
    padding-bottom: 10px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #878d8d;
}

/*HEADER*/
header {
    height: 60px;
    background-color: rgba(37, 40, 42, 0.91);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav .my-links {
    width: 500px;
    height: 100%;
    flex-direction: row;
    right: 60px;
    top: 0;
    position: absolute;
    display: none;
    align-items: center;
}

nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.icon {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

nav a:hover {
    color: #fd735a;
}

/*HOME SECTION*/
.homeSection {
    height: 110vh;
    background-image: url('../images/dekstop.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.homeSection button {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    border-color: #cccccc;
}

.homeSection button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
}

.home {
    display: none;
}

.homeSection h1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 1;
    font-weight: 300;
    color: #fff;
    font-size: 10vh;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
    flex-wrap: wrap;
}

.homeSection span {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
}

/*ABOUT SECTION*/
.aboutSection {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.aboutContainer {
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: -200px;
    z-index: 100;
    position: relative;
    transition: 0.5s;
    transform: translateY(20px);
    box-shadow: 10px 10px 100px rgb(0 0 0 / 10%);
}

.aboutTitle {
    font-size: 32px;
    font-weight: 500;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    margin: 0 0 30px 50px;
    padding: 0;
}

.aboutMeText {
    display: flex;
    flex-wrap: wrap;
    color: #878d8d;
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*SKILLS SECTION*/
.skillsSection {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skillsItems {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skillsItems li {
    width: 120px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #fd735a;;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600 !important;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    -webkit-box-shadow: 0 1px 5px rgb(5 5 6 / 15%);
}

.skillsItems li:hover {
    border: 2px solid #949494;
}

/*EXPERIENCE SECTION*/
.experienceSection {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.experienceItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.experienceItems h3 {
    margin-bottom: 10px;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.experienceItems li {
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 320px;
    text-align: center !important;
    -webkit-box-shadow: 0 1px 5px rgb(5 5 6 / 15%);
    margin-bottom: 20px;
}

.experienceItems li span {
    background-color: #fd735a;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
    width: 95px;
    margin-top: 10px;
}

.experienceItems li p {
    color: #707070;
}

/*CONNECT SECTION*/
.connectSection {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.connectSection ul {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.connectSection li {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
}

.connectSection li img {
    height: 35px;
    width: 35px;
    opacity: 50%;
}

.connectSection li img:hover {
    opacity: 30%;
}

.connectSection h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 15px
}

/*LEAVE A MESSAGE SECTION*/
.messageFormSection {
    background-color: #f7f7f7;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.messageFormSection h2 {
    font-size: 28px;
    font-weight: 500;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

.messageFormSection .h2-block {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

form input {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 1em;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #eee;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

/*MESSAGES SECTION*/
.messagesSection {
    background-color: #f7f7f7;
    padding: 50px 0;
    display: none;
}

.messagesSection h3 {
    font-size: 28px;
    font-weight: 500;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    margin: 0 0 30px;
    padding: 0;
}

.messageContainer {
    display: flex;
    flex-direction: column;
}

.messageContainer ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.messageContainer button {
    width: 100px;
    margin: 10px 5px 10px 0;
    padding: 5px 0;
}

.messageContainer ul span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333
}

.messagesSection ul div {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
    width: 100%;
}

.messageContainer ul a {
    font-weight: 700;
    color: #fd735a;
}

/*PROJECTS SECTION*/
.projectsSection {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projectItems {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.projectItems h2 {
    color: #495057;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.projectItems span {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #6e7373;
    margin-left: 10px;
    margin-bottom: 10px;
}

.projectItems li {
    width: 420px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 5px rgb(2 3 3 / 10%);
    margin-bottom: 20px;
}

.projectItems li:hover {
    transform: scale(1.03);
}

.projectItems img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
}

.projectLinks {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.projectLinks button {
    width: 60px;
    margin: 0 0 0 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #878d8d;
}

.projectLinks button:hover {
    background-color: #fd735a;
}

/*BUTTON UP*/
.btn-up {
    position: fixed;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.btn-up:hover {
    opacity: 70%;
}

.btn-up::before {
    content: "";
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("../images/arrow-up.svg");
}

.btn-up_hide {
    display: none;
}

/*FOOTER*/
footer {
    background-color: #fff;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: #6E7373;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 1440px) {
    .homeSection h1 {
        font-size: 8vh;
    }

    form .inputs {
        flex-direction: column;
    }
}

@media screen and (max-width: 1065px) {
    .homeSection h1 {
        font-size: 6vh;
    }

    .connectSection li {
        padding: 0 10px;
    }

    .aboutContainer {
        margin-top: -150px;
    }

    .homeSection span {
        font-size: 1.5vh;
    }

    .skillsItems {
        justify-content: center;
    }

    .photo {
        display: none;
    }

    .aboutTitle {
        text-align: center;
        margin-left: 0px;
    }

    .aboutMeText {
        justify-content: center;
    }

    .projectItems {
        justify-content: center;
    }

    .homeSection {
        background-image: url('../images/mobile.JPG');

    }
}

@media screen and (max-width: 800px) {
    .skillsSection, .experienceSection, .projectsSection, .connectSection {
        padding: 40px 0;
    }

    .homeSection h1 {
        font-size: 4vh;
    }

    nav .my-links {
        height: 240px;
        background-color: rgba(37, 40, 42, 0.91);
        width: 180px;
        flex-direction: column;
        right: 0;
        top: 60px;
    }
}

@media screen and (max-width: 1215px) {
    .experienceItems {
        justify-content: center;
    }

    .experienceItems li {
        width: 100%;
    }
}

